In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
column_names = ["Sexo", "Largo", "Diametro", "Altura", "Peso completo", "Peso descascarado", "Peso Vísceras", "Peso cascaron", "Anillos"]
data = pd.read_csv("abalone.data", names=column_names)
print("Numero de datos: %d" % len(data))
data.head()

Numero de datos: 4177

,Sexo,Largo,Diametro,Altura,Peso completo,Peso descascarado,Peso Vísceras,Peso cascaron,Anillos
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [9]:
# Para evitar tener la variable categorica "Sexo", transformamos dicha variable en tres boleanos.
for label in "MFI":
    data[label] = data["Sexo"] == label
del data["Sexo"]

In [10]:
data.head()

,Largo,Diametro,Altura,Peso completo,Peso descascarado,Peso Vísceras,Peso cascaron,Anillos,M,F,I
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,True,False,False
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,True,False,False
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,False,True,False
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,True,False,False
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,False,False,True